# beautifulsoup4
# requests
# tqdm
# langchain
# pandas
# numpy
# langchain_community
# langchain-openai
# sentence_transformers
# numpy
# pandas
# python-dotenv
# faiss-cpu
# pickle5
# llama_cpp
# wget
# streamlit

streamlit
faiss-cpu==1.7.4
sentence-transformers
numpy
pandas
tqdm
requests
beautifulsoup4
python-dotenv
langchain
langchain-community
langchain-openai
llama-cpp-python


